/* animation code */
@keyframes fade-in {
    from {color: rgba(255, 255, 255, 0)}
    to {color:black}
}

@keyframes translate-in {
    100% {transform: translateY(0%)}
}

@keyframes bounce {
    0% {transform: translateY(0%)}
    50% {transform: translateY(-7%)}
    100% {transform: translateY(0%)}
}

@keyframes delayed-squares {
    from {background-color: none}
    to {background-color: gray}
}

@keyframes flip {
    0% {
      transform: rotateX(0deg);
      
    }
    50% {
      transform: rotateX(180deg);
    }
}

/* css code */
* {
    font-family: 'Arvo', serif;
    
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    font-size: 10vw;
    text-overflow: clip;
    padding: 2vw;
    transform: translateY(-100%);
    animation: fade-in 1s ease-in, translate-in 1s cubic-bezier(.11,.2,.8,.34) forwards, bounce .5s 1s ease forwards;
    text-shadow: 4px 4px gray;
    
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

audio{
    display: none;
}

.heading > img {
    height: 2em;
    padding-bottom: 50px;
}

.content {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}

.gameBoard {
    display: grid;
    grid: repeat(3, 10vw) / repeat(3, 10vw);
    gap: 10px;
}

.gameBoard > .square {
    margin: 0;
    position: relative;
    animation: delayed-squares 3s cubic-bezier(1,-0.07,.78,.18) forwards;
    font-size: 7vw;
    text-align: center;
}

button{
    position: relative;
    bottom: 13%;
    height: 10vw;
    width: 10vw;
    padding: 0;
    margin: 0;
    border: 0;
}
